{% extends "festival/layout.html" %}

{% block content %}
<h1>Palcos</h1>

<ul>
    {% for palco in palcos %}
        <li>
            <strong>{{ palco.nome }}</strong><br>
            Capacidade: {{ palco.capacidade }}<br>
            Concertos agendados: {{ palco.concerto_set.count }}<br>
            Acessibilidade:
            {% if palco.acessibilidade_mobilidade_reduzida %}
                ♿
            {% else %}
                —
            {% endif %}
            <br>
            <a href="{% url 'editar_palco' palco.id %}">
                <button>Editar</button>
            </a>
        </li>
        <hr>
    {% endfor %}
</ul>

{% endblock %}